{
    "userName": "magiccardbot",
    "authToken": "oauth:b1f8f6mts0e7bxgv4botc6xxtydznz",
    "channel": "AngelzWrath11",
    "cardCommand": "card",
    "disconnectCommand": "shutdown",
    "changeChannelCommand": "changechannel",
    "twitchServer": "irc.chat.twitch.tv",
    "twitchPort": "6667",
    "twitchRateLimit": 20,
    "twitchRateLimitDurationSeconds": 30,
    "magicEndpoint": "https://api.magicthegathering.io/v1/",
    "magicRateLimit": 5000,
    "magicRateLimitDurationSeconds": 3600,
    "verboseMode": false
}